@import "cursor.css";
@import "backgrounds.css";
@import "fontiran.css";
@import "404.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        cursor: none;
    }

    html {
        font-family: system-ui,
        -apple-system, /* Firefox supports this but not yet `system-ui` */ "IRANYekan",
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    }

    html,
    body,
    body > div:first-child,
    div#__next {
        height: 100%;
    }
}
